
.nav ul {
    list-style-type: none;
    display:flex;
}

.nav li {
    align-items: center;
    padding-left: 20px;
    padding-right: 5%;
}

.nav {
    display: flex;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: orange;
    justify-content: space-between;
}

.section {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 20%;
    margin: 0 auto;
}

.heroImg {
    display: flex;
    padding: 10%;
}

.heroImg img {
    width:350px; 
    height:350x;   
    padding-left: 25%;
}

.featured {
    font-size: 22px;
    color: orange;
    padding-bottom: 1%;
    padding-left: 13%;
}
.text{
    display: inline-block;
    width: 500px;
    height: 250px;
    padding-left: 10%;
}

.portfolio {
    display: flex;
    padding: 10%;
}

.portfolio img{
    width: 400px;
    height: 350px;
    padding-left: 25%;

}

.portfolio2 {
    display: flex;
    padding-right: 10%;
    
}

.portfolio2 img {
    width: 400px;
    height: 350px;
    padding-left: 55%;
    padding-bottom: 25%;
}

.Eunoia {
    padding-left: 35%; 
}

.portfolio3 {
    display: flex;
    padding-left: 10%;
}

.portfolio3 img {
    width: 400px;
    height: 350px;
    padding-left: 10%;
    padding-bottom: 25%;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: orange;
}